
body{
margin:0;
font-family: 'Poppins', sans-serif;
background:#f4f6fb;
}

/* HERO SECTION */

.hero{
height:80vh;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("images/church.jpg");
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero-content h1{
font-size:48px;
margin-bottom:10px;
}

.hero-content p{
font-size:20px;
margin-bottom:25px;
}

/* BUTTON */

.btn{
background:#2563eb;
color:white;
padding:12px 28px;
text-decoration:none;
border-radius:6px;
font-size:18px;
transition:0.3s;
}

.btn:hover{
background:#1e40af;
transform:scale(1.05);
}
